*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  padding-block-start: 0;
  padding-inline-end: 0;
  padding-block-end: 0;
  padding-inline-start: 0;
}

ul,
ol {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  padding-block-start: 133px; 
  padding-inline-end: 30px;
  padding-block-end: 133px;
  padding-inline-start: 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  inline-size: 711px;
  block-size: 386px;
  position: relative;
}

.result__video {
  inline-size: 100%;
  block-size: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}

.search-form__fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__label {
  display: inline-flex;
  inline-size: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: normal;
  font-size: inherit;
}

.search-form__textfield {
  inline-size: 225px;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: none;
  border-top: 1px solid currentColor;
  border-bottom: 1px solid currentColor;
}

.search-form__textfield:focus {
  outline: none;
}

.search-form__label:has(:focus-visible) {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.search-form__checkbox-list {
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 15px;
  justify-self: end;
}

.search-form__label:has(.search-form__checkbox):hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__pseudo-checkbox {
  inline-size: 19px;
  block-size: 19px;
  border: 1px solid #fff;
}

input[type="checkbox"]:checked + .search-form__pseudo-checkbox::before {
  content: "";
  display: inline-block;
  margin-block-start: 0;
  margin-inline-end: 0;
  margin-block-end: 1px;
  margin-inline-start: 1px;
  inline-size: 15px;
  block-size: 15px;
  background: #fff;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  block-size: 34px;
  margin-block-end: 2px;
  margin-inline-start: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.button:focus {
  outline: none;
}

.button:focus-visible {
  outline: 1px solid #fff;
  outline-offset: 1px;
}

.button:active {
  background-color: #545050;
}

.search-form__submit-button {
  display: grid;
  align-items: center;
  align-self: flex-end;
}

.content__details {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  block-size: 298px;
  overflow: auto;
  position: relative;
}

.content__list::-webkit-scrollbar {
  display: none;
}

.content__list-item:not(:last-child) {
  margin-block-end: 30px;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin-block-start: 2px;
  margin-inline-end: 2px;
  margin-block-end: 2px;
  margin-inline-start: 2px;
}

.content__card-link:focus {
  outline: none;
}

.content__card-link:focus-visible {
  border: 1px solid #fff;
}

.content__card-link_current {
  background-color: #545050;
}

.content__video-card {
  padding-block-start: 2px;
  padding-inline-end: 2px;
  padding-block-end: 2px;
  padding-inline-start: 2px;
  inline-size: 100%;
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
  font-weight: 400;
}

.content__video-card-thumbnail {
  inline-size: 194px;
  block-size: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  inline-size: 99%;
}