*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

.page {
  inline-size: 1200px;
  block-size: 100%;
  margin: auto;
  color: #fff;
  font-family: "Fira Sans Condensed", sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  display: flex;
  align-items: center;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

.button {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
  border: 1px solid #fff;
  height: 34px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button:hover {
  cursor: pointer;
  text-decoration: underline;
}

.visually-hidden {
  position: absolute;
  inline-size: 1px;
  block-size: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  white-space: nowrap;
}

.content {
  padding: 133px 30px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  gap: 30px;
}

.result {
  display: flex;
  flex-direction: column;
  justify-content: end;
  gap: 16px;
}

.result__video-container {
  width: 711px;
  height: 386px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.search-form {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  
}

.search-form__fieldset {
  border: none;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}

.search-form__label {
  display: inline-flex;
  width: fit-content;
  align-items: center;
  gap: 5px;
}

.search-form__fieldset-title {
  font-weight: 400;
  line-height: normal;
  font-size: inherit;
}

.search-form__textfield {
  width: 225px;
  appearance: none;
  font-family: inherit;
  font-size: inherit;
  color: rgb(255 255 255 / 0.7);
  background-color: transparent;
  border: none;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
}

.search-form__checkbox-list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 15px;
}

.search-form__pseudo-checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid #FFF;
}

.search-form__label-text:hover {
  cursor: pointer;
  text-decoration: underline;
}

.search-form__submit-button {
display: grid;
align-items: center; 
align-self: flex-end; 
}

.content__details {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 26px;
}

.title {
  font-family: Oswald, sans-serif;
  text-transform: uppercase;
  font-size: 75px;
  font-weight: 700;
  line-height: 94%;
}

.content__accent {
  color: #545050;
}

.content__list {
  height: 298px;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
  position: relative;
}

.content__card-link {
  text-decoration: none;
  color: #fff;
  display: block;
  margin: 2px;
}

.content__video-card {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 194px;
}

.content__video-card:hover {
  cursor: pointer;
  text-decoration: underline;
}

.content__video-card-description-container {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.content__video-card-title {
  font-family: Oswald, sans-serif;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
}

.content__video-card-description {
  font-size: 18px;
  line-height: 0.9;
  font-weight: 400;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
  object-position: center;
}

.more-button {
  width: 100%;
}
